# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

Some of the popular languages that Data Scientists use are:
<ol>
  <li>Python</li>
  <li>R</li>
  <li>Julia</li>
  <li>Java</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
  <li>Pandas</li>
  <li>ggplot</li>
  <li>matplotlib</li>
  <li>seaborn</li>
</ol>

### Data Science Tools

|Data Science Tools| 
| -------|
| Apache Spark|
| SQL |
| Python |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#  This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

### **Objectives**

This notebook included a variety of information:
- Data Science Tools
- Commonly used libraries
- Popular Languages

### Author:

W G